<!DOCTYPE html>

<html>

<head>

    <title>
        Firmware Security Assessment
    </title>


    <link 
        rel="stylesheet"
        href="/static/style.css"
    >

</head>


<body>


    <h1>
        Automated Firmware Security Assessment
    </h1>


    <p>
        Upload IoT firmware for vulnerability analysis
    </p>



    <!-- Firmware Upload Form -->

    <form 
        action="/scan"
        method="POST"
        enctype="multipart/form-data"
    >


        <input 
            type="file"
            name="firmware"
            required
        >


        <br><br>


        <button type="submit">

            Start Security Scan

        </button>


    </form>



    <hr>

    {% if summary %}


<h2>
Risk Summary
</h2>



<div>


<h3>
Total Issues:
{{ summary.total }}
</h3>



<h3>
High Severity:
{{ summary.HIGH }}
</h3>



<h3>
Medium Severity:
{{ summary.MEDIUM }}
</h3>



<h3>
Low Severity:
{{ summary.LOW }}
</h3>


</div>


{% endif %}

    <!-- Scan Results Section -->


    {% if results %}


        <h2>
            Scan Results
        </h2>



        {% for item in results %}


            <div>


                <strong>
                    File:
                </strong>


                {{ item.file }}



                <br>



                <strong>
                    Finding:
                </strong>


                {{ item.finding.issue }}



                <br>



                <strong>
                    Severity:
                </strong>


                {{ item.finding.severity }}



            </div>


            <br>


        {% endfor %}



    {% else %}



        <h3>
            No vulnerabilities detected
        </h3>



    {% endif %}

<br>


<a href="/download-report">


<button>

Download Security Report

</button>


</a>


</body>


</html>