<!DOCTYPE html>


<html>


<head>


<title>
Firmware Scanner
</title>


<link
rel="stylesheet"
href="/static/style.css"
>


</head>



<body>



<h1>
Automated Firmware Security Assessment
</h1>



<p>
Upload IoT firmware for vulnerability analysis
</p>



<form

action="/scan"

method="POST"

enctype="multipart/form-data"

>


<input

type="file"

name="firmware"

required

>


<br><br>


<button type="submit">

Start Security Scan

</button>



</form>



<hr>



{% if results %}


<h2>
Scan Results
</h2>



{% for item in results %}


<div>


File:

{{ item.file }}


<br>


Finding:

{{ item.finding.issue }}


<br>


Severity:

{{ item.finding.severity }}



</div>


<br>


{% endfor %}


{% endif %}



</body>


</html>